@import "tailwindcss";

@custom-variant hover (&:hover);        for your hovering elements to work

@theme {

  /* Set your max container width slightly lower than the breakpoint */

  --breakpoint-xl: 1200px; 

}



@utility container {

  margin-inline: auto;

  width: 100%;

  max-width: 1140px; /* This ensures it stays consistent even if the window wiggles */

  padding-inline: 1.5rem;

}